.footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: var(--color-bg-light);
}

.footer__divider {
   margin-top: 30px;
   width: 100%;
   background-color: var(--color-bg-grey);
}

.footer__button {
   width: 150px;
   padding: 8px 0;
   margin-top: 15px;
   font-size: 12px;
   border-radius: 3px;
}

.footer__navigation {
   display: flex;
   justify-content: center;
   width: inherit;
   gap: 50px;
   margin: 25px 0;
}

.footer__navigation>.navigation__item>.navigation__link{
   justify-self: center;
}

.social {
   display: flex;
   justify-content: center;
   width: inherit;
   gap: 30px;
   padding-bottom: 20px;
}

.social ul {
   display: flex;
}

.landing-info {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 50px;
   width: 100%;
   padding-top: 30px;
}

.landing-info__title {
   font-size: 26px;
   font-weight: 900;
   color: var(--color-text-main);
}

.landing-info__copyright {
   display: block;
   color: var(--color-text-grey);
   align-self: flex-start;
}

@media screen and (min-width: 1824px){
   .footer__button {
      width: 250px;
      padding: 10px 0;
      font-size: 22px;
   }

   .landing-info__title {
      font-size: 42px;
   }

   .social__icon{
      height: 30px;
      width: 30px;
   }
}