.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 22px 0px 0px 0px;
}

.header__title {
   font-size: 26px;
   font-weight: 900;
   color: #37447E;
}

.start-screen {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0px 0px 0px 100px;
   height: 680px;
}

.start-screen__background {
   height: 550px;
   width: 700px;
   background: url(../images/start-screen_image.png) no-repeat left top;
   align-self: flex-end;
   margin-left: 50px;
}

.content {
   width: 45%;
}

.content__title {
   font-size: 36px;
   color: #091133;
   margin: 25px 0px;
}

.content__text {
   font-size: 16px;
   line-height: 26px;
   color: #6F7CB2;
   margin: 15px 0px;
}

.content__subsections {
   display: flex;
   justify-content: space-between;
   margin-top: 50px;
}

.subsection {
   margin-right: 25px;
}

.subsection__image {
   height: 36px;
   width: 36px;
}

.subsection__title {
   font-size: 16px;
   color: #091133;
   margin: 15px 0px;
}

.subsection__text {
   font-size: 12px;
   line-height: 18px;
   color: #5D6970;
   margin: 5px 0px;
}

.header>.navigation>ul {
   margin-right: 50px;
}